body {
    background-color: rgb(187, 187, 187);
}

.wrapper {
    margin: 0px auto;
}

form {
    background-image: url(Images/RestrauntBckGr.png);
    width: 1100px;
    margin: 0px auto;
    padding: 20px 0px;
    border: 3px dotted #00b7ff;
}

h1 {
    color: white;
    font-family: Arial;
    font-weight: 700;
    font-size: 40px;
    background-color: rgb(55, 13, 13);
    text-align: center;
}

legend {
    margin-left: 80px;
    padding: 5px;
    border: 5px solid #793e00;
    background-color: #ffa372;
    border-radius: 7px;
    color: white;
    font-family: tahoma;
    font-weight: 700;
    font-size: 20px;
    
}

fieldset {
    margin: 0px auto;
    margin-bottom: 10px;
    background-color: #FFFAFA;
    border-radius: 6px;
    border: 4px solid #793e00;
    padding: 30px 0px;
    width: 650px;
}

label {
    font-weight: 600;
    font-family: arial;
    color: #1F4D86;
    margin-left: 80px;
}

input {
    margin-bottom: 15px;
}

.first label {
    width: 80px;
    display: inline-block;
    margin-left: 150px;
    margin-right: 5px;
    text-align: right;
}

.first input {
    height: 25px;
    width: 350px;
    margin-bottom: 15px;
    border: 2px solid #430000;
    background-color: #ff9f56;
    color: white;
}

.first ::placeholder {
    color: rgb(177, 177, 177);
}

fieldset .email {
    background-color: #FA8072;
}

.age {
    background-color: #ff9f56;
    width: 130px;
    height: 20px;
    border-radius: 5px;
}

textarea {
    margin-left: 80px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid #430000;
    box-shadow: 0px 0px 0px 6px #DDDDDD;
}

.datetime {
    border: 2px solid #430000;
    box-shadow: 0px 0px 0px 6px #DDDDDD;
    border-radius: 5px;
    background-color: #ff9f56;
    padding: 5px 0px;
    width: 250px;
    margin-left: 5px;
    color: white;
}

.space {
    margin-left: 50px;
    margin-bottom: 5px;
}

.txtWhy {
    font-size: 16px;
    font-weight: 100;
    color: black;
    margin-left: 0px;
}

.shkala {
    width: 200px;
}

.date {
    margin-left: 85px;
}

.subDate {
    background-color: #ff9f56;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}

.button {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #ff9f56;
    border-radius: 15px;
    border: 3px dashed #ffffff;
    color: white;
    width: 150px;
    height: 35px;
    padding: 3px 0;
    font-weight: 700;
}

.buttons {
    margin: 0px auto;
    width: 320px;
}