html {
    scroll-behavior: smooth;
}

body {
    /* background: linear-gradient(90deg ,rgb(89, 23, 23) 13%, rgb(0, 0, 0) 45%, rgb(0, 0, 0) 57%, rgb(89, 23, 23) 87%); */
    background: linear-gradient(50deg, rgba(255,0,0,1) 38%, rgba(255,255,255,1) 62%, rgba(0,0,0,1) 85%);
    background-repeat: repeat;
}

.wrapper {
    width: 1300px;
    margin: 0 auto;
    text-align: justify;
    background-color:rgb(254, 255, 204);
    border-radius: 10px;
    box-shadow: 0 0 85px rgb(0, 187, 255);
    transition: 200ms;
}

.wrapper:hover {
    background-color: rgb(211, 191, 161)
}

header {
    width: 600px;
    margin: 50px auto;
    margin-top: 30px;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 36px;
    letter-spacing: -2px;
    transition: 200ms;
}

header:hover {
    font-size: 42px;
}

h1 {
    margin-top: 30px;
}

.angular {
    color:red
}

main {
    width: 1300px;
    margin-top: 30px;
}

h2 {
    width: 700px;
    padding: 5px;
    position: relative;
    font-family: 'Exo';
    font-size: 28px;
    text-align: center;
    margin: 30px auto;
    transform: skew(-15deg);
    letter-spacing: 1px;
    border-bottom: 4px solid black;
}

.strimg {
    margin: 50px;
    border-radius: 20px;
    box-shadow: 1px 5px 15px rgb(0, 0, 0);
}

aside ul {
    list-style-type: none;
    margin: 45px;
    padding: 0;
    width: 200px;
    background-color: #5f5f5f;
    height: auto;
    position: fixed;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 3px 6px 10px rgb(0, 8, 255);
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 8px 16px;
    text-decoration: none;
}
  
  li a.active {
    background-color: #0033ff;
    color: white;
}
  
  li a:hover:not(.active) {
    background-color: #555;
    color: rgb(0, 255, 42);
}

article {
    width: 1100px;
    margin: 0 auto;
    background: rgb(150,217,255);
    background: radial-gradient(circle, rgba(150,217,255,0.5) 29%, rgba(142,88,0,1) 100%);
    border-radius: 3px;
    padding: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    box-shadow: 2px 5px 20px rgb(82, 0, 0);
    transition: 500ms;
}

th {
    background-color: #005c08;
    color: white;
    font-size: 18px;
    padding: 2px;
    font-family: sans-serif;
    text-align: center;
}

td {
    background-color: #afffb6;
    font-size: 18px;
    font-weight: 600;
    padding: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    transition: 150ms;
}

td:hover {
    background-color: rgb(203, 255, 152);
}

.arrows {
    overflow: hidden;
}

.arrowBot {
    transform: rotatex(180deg);
    border-radius: 20px;
    box-shadow: 1px 5px 15px rgb(0, 0, 0);
    margin: 10px;
    position: fixed;
    bottom: 400px; right: 100px;
}

.arrowTop {
    border-radius: 20px;
    box-shadow: 1px 5px 15px rgb(0, 0, 0);
    margin: 10px;
    position: fixed;
    bottom: 490px; right: 100px;
}
