.wrapper {
    width: 450px;
    margin: 70px auto;
    background-color: rgb(123, 123, 123);
    padding: 20px;
    border: 5px inset coral;
}

header {
    width:370px;
    margin: 0 auto;
    letter-spacing: -1px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    background-color: rgb(174, 215, 221);
}

h1 {
    color: red;
    text-shadow: 4px 3px 0 white;
    padding: 20px;
}

main {
    margin-left: 40px;
    margin-right: 40px;
}

label {
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
}

#email, #date {
    width: 345px;
    border: solid 3px rgb(174, 215, 221);
    border-radius: 7px;
    background-color:#ff6060;
    padding: 4px;
    border-radius: 9px;
    color: white;
}

#date {
    width: 130px;
    padding: 8px;
    font-family: monospace;
    border-radius: 15px;
    padding-left: 20px;
    background-color: #ff3c3c;
}

input {
    background-color: rgb(174, 215, 221);
    border-radius: 9px;
    padding: 4px;
    border: solid 3px red;
}

#name {
    margin-top: 10px;
    width: 231px;
}

#country {
    width: 182px;
}

#email {
    width: 290px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#age {
    border: none;
    border-radius: 0;
    text-align: center;
    background-color: #ff6060;
    color: blue;
    font-size: 18px;
    font-weight: 600;
}

#name, #country, #email, #age, #lvl4, textarea, #date{
    margin-bottom: 17px;
}

select {
    width: 170px;
    padding: 5px;
    margin-bottom: 10px;
}

#addiction {
    margin-right: 20px;
}

textarea {
    width: 350px;
    float: left;
    background-color: rgb(174, 215, 221);
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgb(255, 47, 47);
    padding: 7px;
    margin-top: 15px;
}

#button1, #button2 {
    height: 35px;
    width: 130px;
    font-family: Tahoma;
    font-size: 12px;
    color: red;
    text-align: center;
    font-weight: 900;
    background-color: rgb(174, 215, 221);
    border-radius: 30px;
    outline: none;
    padding: 5px;
    border: solid 3px red;
}

#button1 {
    margin-left: 50px;
}