body {

}

.wrapper {
    width: 1380px;
    padding-left: 180px;
    padding-right: 90px;
}

header {
    margin: 30px auto;
}

.headimg {
    border-radius: 100px;
    border: 3px solid rgb(78, 205, 255);
    box-shadow: 0 0 7px #666;
    padding: 5px;
}

.bootsp {
    border-radius: 100px;
}

.leftimg {
    position: absolute;
    left: 147px; top: 10px
}

h1 {
    text-align: center;
    margin: 0 10px;
    position: relative;
    top: 30px;
    padding-bottom: 50px;
}

.rightimg {
    position: absolute;
    left: 1240px; top: 10px
}

h2 {
    text-align: center;
    font-size: 18px;
    color: blue;
    padding-bottom: 20px;
    font-weight: 900;
}