html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(90deg, rgb(174, 232, 255) 0%, rgb(112, 131, 255) 100%);
}

.wrapper {
    width: 1300px;
    padding: 5px 25px 52px;
    margin: 0 auto;
    text-align: justify;
    background-color:rgba(4, 0, 255, 0.301);
    border-radius: 50px;
    box-shadow: 0 2px 25px rgb(0, 255, 213);
}

header {
    width: 1200px;
    margin: 50px auto;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 32px;
    text-align: center;
    letter-spacing: 5px;
    background: rgb(114, 104, 95);
    background: linear-gradient(0deg, rgb(164, 255, 112) 25%, rgb(255, 161, 98) 100%);
    box-shadow: 2px 9px 15px rgb(0, 0, 0);;
    color: rgb(31, 54, 255);
    text-shadow: 5px 1px 3px rgb(255, 255, 255),
    2px 2px 3px rgb(119, 0, 255);
}

main {
    width: 1300px;
}

h2 {
    padding: 20px;
    color: white;
    text-align: center;
    text-shadow: 6px 4px 6px rgb(255, 0, 0),
    1px 1px 0 rgb(0, 0, 0),
    1px -1px 1px rgb(0, 0, 0),
    -1px 1px 1px rgb(0, 0, 0),
   -1px -1px 1px rgb(0, 0, 0);
}

article {
    background-color: rgb(181, 255, 212);
    border-radius: 50px;
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-shadow: 2px 1px 30px rgb(0, 0, 0);
}

.imgA {
    border-radius: 10px;
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 2px 5px 50px red;
}

.pimg1 {
    width: 190px;
    margin: 35px auto;
}

.fimg {
    margin: 0 180px;
}

.simg {
    margin: 0 320px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.img1 {
    border-radius: 20px;
    box-shadow: 2px 5px 50px red;
}

.img2 {
    width: 440px;
    height: 129px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 0px 10px red;
}

footer {
    clear: both;
    text-align: center;
    padding: 18px;
    font-weight: 900;
    color: white;
}

aside {
    border: 1px solid rgb(212, 0, 255);
    width: 190px;
    height: 300px;
    position: fixed;
    float: left;
    padding-left: 20px;
    left: 30px; top: 50px;
    background-color: rgb(255, 159, 183);
    border-radius: 100px;
    box-shadow: 2px 5px 70px blue;
}

.asideli {
    padding: 8px 12px;
    text-align: justify;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(25, 0, 255);
}

.arrowTop {
    padding-left: 25px;
}

.arrowBot {
    transform: rotatex(180deg);
}