body {
    background-color:rgb(253, 204, 144); /* orange */
    text-align: justify;
}

.menu {
    border: dashed 1.9px;
    margin-right: 1400px;
    background: rgb(255,184,0);
    background: linear-gradient(0deg, rgba(255,184,0,0.4822303921568627) 0%, rgba(0,255,4,0.13769257703081228) 100%);
}

p {
    background-color:rgb(255, 230, 198); /* lightorange */
    padding: 10px
}

.whole {
    padding: 20px 70px 20px
}

.first {
    margin-right: 469px;
    padding: 5px
}

.denmark {
    text-align: center;
    font-size: 56px;
    letter-spacing: 80px;
    border: double 6px;
    background: rgb(34,193,195);
    background: rgb(255,201,83);
    background: linear-gradient(0deg, rgba(255,201,83,1) 0%, rgba(159,195,34,1) 100%);
}

.klimat {
    margin-right: 365px;
    padding: 10px
}

.tabletext {
    background-color:rgb(205, 248, 86);
    letter-spacing: 1px;
    font-size: 18px;
    font-family: Lucida Handwriting;
    text-align: center;
}

.tabletext1 {
    background-color:rgb(148, 234, 255);
    letter-spacing: 1px;
    font-size: 18px;
    font-family: Lucida Handwriting;
    text-align: center;
}

.links {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    margin-right: 1300px;
}

