body {
    background-color: aliceblue;

}

.wrapper {
    width: 1390px;
    margin: 0 auto;
    border: 5px solid rgb(31, 212, 31);
    background-color: rgb(153, 200, 241);
}

header {
    background-color: rgb(255, 199, 126);
    text-align: center;
    font-size: 28px;
    border: 3px solid rgb(212, 31, 31);
}

.aside-left {
    float: left;
    width: 300px;
    font-family: "Papyrus";
    font-size: 24px;
    text-align: left;
    border: 3px solid rgb(43, 31, 212);
}

.aside-right {
    float: right;
    width: 300px;
    font-size: 20px;
    text-align: center;
    border: 4px solid rgb(31, 124, 212);
}

main {
    width: 768px;
    background-color: rgb(0, 119, 255);
    float: left;
    border: 4px solid rgb(212, 31, 121);
}

article {
    background-color: rgb(176, 201, 255);
    border: 5px solid rgb(0, 0, 0);
    padding: 0 18px;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: justify;
}

img {
    height: 400px;
    background-color: rgb(255, 220, 176);
}

footer {
    font-weight: 600;
    padding-left: 30px;
    clear: both;
}