body {
    background: rgb(0,255,226);
    background: linear-gradient(180deg, rgb(255, 162, 119) 0%, rgb(200, 255, 0) 100%);
}

.wrapper {
    width: 1300px;
    padding: 25px;
    margin: 0 auto;
    text-align: justify;
    background-color:rgb(249, 255, 198);
    border-radius: 50px;
    box-shadow: 0 2px 15px rgb(71, 0, 238);
}

header {
    width: 500px;
    margin: 0 auto;
    border-radius: 100px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 38px;
    text-align: center;
    letter-spacing: 5px;
    background: rgb(255,124,0);
    background: linear-gradient(0deg, rgb(255, 237, 220) 0%, rgb(185, 134, 255) 100%);
    box-shadow: 2px 4px 9px gray;;
    color: white;
    text-shadow: 5px 1px 3px rgb(0, 204, 255),
    2px 2px 3px rgb(0, 204, 255);
}

h2 {
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 3px rgb(255, 136, 38);
}

h3 {
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 3px rgb(255, 136, 38);
}

h4 {
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 3px rgb(255, 136, 38);
}

.txt {
    width: 1000px;
    margin: 0 auto;
}

P {
    padding: 20px;
    border-radius: 60px;
    background-color:#ffffff;
    box-shadow: 0 5px 10px gray;
}

aside {
    width: 150px;
    position: sticky;
    top: 20px;
}

.asideli {
    padding: 4px;
    font-size: 18px;
    font-family: tahoma;
    color:rgb(25, 0, 255);
}

footer {
    padding-top: 15px;
    text-align: center;
}