body {
    background: linear-gradient(90deg, rgb(174, 232, 255) 0%, rgb(112, 131, 255) 100%);
}

.wrapper {
    width: 1300px;
    padding: 5px 25px 5px;
    margin: 0 auto;
    text-align: justify;
    background-color:rgb(196, 223, 255);
    border-radius: 50px;
    box-shadow: 0 2px 25px rgb(0, 255, 213);
}

header {
    width: 700px;
    margin: 50px auto;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 32px;
    text-align: center;
    letter-spacing: 5px;
    background: rgb(255,124,0);
    background: linear-gradient(0deg, rgb(112, 150, 255) 25%, rgb(255, 161, 98) 100%);
    box-shadow: 2px 9px 15px rgb(0, 0, 0);;
    color: rgb(31, 54, 255);
    text-shadow: 5px 1px 3px rgb(255, 255, 255),
    2px 2px 3px rgb(119, 0, 255);
}

main {
    width: 1300px;
    float: left;
}

article {
    background-color: rgb(181, 255, 212);
    border-radius: 50px;
    padding: 20px;
}

.imgAll {
    border-radius: 10px;
    border: 4px solid rgb(255, 0, 0);
}

.pimg1 {
    width: 190px;
    margin: 35px auto;
}

.fimg {
    width: 1000px;
    margin: 0 auto;
}

.img2 {
    border-radius: 20px;
    width: 440px;
    height: 129px;
    padding: 10px;
}

footer {
    width: 1380px;
    clear: both;
    text-align: center;
    padding: 18px;
    font-weight: 900;
}

aside {
    width: 190px;
    height: 300px;
    position: fixed;
    float: left;
    padding-left: 20px;
    left: 30px; top: 50px;
    background-color: rgb(255, 159, 183);
    border-radius: 100px;
    box-shadow: 2px 5px 15px blue;
}

.asideli {
    padding: 8px 12px;
    text-align: justify;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(25, 0, 255);
}

.arrowTop {
    padding-left: 25px;
}

.arrowBot {
    transform: rotatex(180deg);
}